@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    ViewData["Title"] = "Login";
}
<div class="container-fluid">
    <form>
        <label for="account" class="control-label">账号:</label>
        <input id="account" class="form-control" type="text"/>
        <label for="passWord"  class="control-label">密码:</label>
        <input  id="passWord" class="form-control" type="password"/>
    </form>
</div>
